.basket{
    font-size: larger;
}

.cart{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

button {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    cursor: pointer;
  }

.product-card{
    object-fit: scale-down;
}

.total{
    border: dotted #bbb 2px;
}

  button.add {
    background-color: #40c0f0;
  }
  button.remove {
    background-color: #f04040;
  }

  .qty{
      font-size: large;
      margin: 5px;
      font-weight: bold;
  }

  #lblCartCount{
    background-color: #f04040;
    border: none;
    color: #ffffff;
    font-size: medium;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -4px;
  }